<form>
	<h1>INSERT A BOOK</h1>
	<div class="form-group">
		<label for="titulo">Titulo:</label><input id="titulo" type="text" ng-model="model.titulo"></input>
		<label for="autor">Autor:</label><input id="autor" type="text" ng-model="model.autor"></input>
		<label for="editora">Editora:</label><input id="editora" type="text" ng-model="model.editora"></input>
		<label for="paginas">Paginas:</label><input id="paginas" type="text" ng-model="model.paginas"></input>
		<button type="button" class="btn" ng-click="save(model)" >SAVE</button>
	</div>
</form>